.experience-box {
    background-color: #171717;
    border-radius: 15px;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Montserrat';
}

.experience-box:hover {
    transform: scale(1.008);
    box-shadow: 1px 1px 25px #121111;
}

.header-line-one {
    display: flex;
    flex-wrap: wrap;
}

.header-line-two {
    display: flex;
    flex-wrap: wrap;
}

.experience-location {
    margin-left: auto;
}

.experience-year {
    margin-left: auto;
}