.image-box-list {
    margin: 0 auto 0 auto;
    padding-bottom: 50px;
    justify-content: center;
    width: 70%;
    min-width: 350px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

#margin-extra {
    margin-right: 50px;
}